     {{form_start(form)}}
     <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
      <div class="row">
            <div class="col-md-4"> {{form_row(form.name)}}</div>
            <div class="col-md-4"> {{form_row(form.lastName)}}</div>
      </div>
       <div class="row">
            <div class="col-md-4"> {{form_row(form.phone)}}</div>
            <div class="col-md-4"> {{form_row(form.address)}}</div>
      </div>
       <div class="row">
            <div class="col-md-4"> {{form_row(form.email)}}</div>
            <div class="col-md-4"> {{form_row(form.department)}}</div>
      </div>
      <button type="submit" class="btn btn-success btn-sm fa fa-user">  {{ button|default('Enregistrer')}} </button>
     {{form_end(form)}}